---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
import CarouselCSS from '@/components/carouselCSS.astro'
import Mybutton from '@/components/Mybutton.astro'
const servicios = [
  { nombre: 'Cambio de aceite', descripcion: 'Incluye filtro y revisión de niveles.' },
  { nombre: 'Alineación y balanceo', descripcion: 'Mejora el desgaste de tus llantas.' },
  { nombre: 'Frenos y Clutch', descripcion: 'Revisión y cambio de pastillas o balatas.' },
  { nombre: 'Escaneo Computarizado', descripcion: 'Diagnóstico electrónico completo.' },
  { nombre: 'Suspensión', descripcion: 'Cambio de amortiguadores y revisión general.' },
  {
    nombre: 'Reparaciones a motor',
    descripcion:
      'Realizamos diagnóstico y reparación de fallas en el motor, desde problemas menores hasta reconstrucciones completas.',
  },
]

const slides = [
  { src: '/public/Taller.jpg', alt: 'Vista del coche en taller', caption: 'Servicios de mecánica general' },
  { src: '/public/Taller2.jpg', alt: 'Detalle de motor', caption: 'Diagnóstico avanzado' },
  { src: '/public/hero.jpg', alt: 'Rueda y neumático', caption: 'Servicio de neumáticos y alineación' },
]
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Taller Automotriz Astro</h1>
    <p></p>
    <p>
      Tenemos como objetivo ser el taller mecánico automotriz de referencia en Culiacán, Sinaloa, ofreciendo un servicio
      de mantenimiento y reparación automotriz confiable, eficiente y de la más alta calidad, a través de personal
      altamente capacitado y el uso de tecnología avanzada, garantizando la satisfacción total de nuestros clientes y la
      seguridad de sus vehículos.
      <br />
    </p>
    <main>
      <h1>Descubre nuestros servicios</h1>

      <CarouselCSS slides={slides} />
      <p></p>
      <div class="buttons-container">
        <Mybutton href="/servicios" text="Descubre servicios" />
        {/* Botón predeterminado (primary) */}
      </div>
    </main>
    <h2 id="acerca-de">Acerca de Multiservicio Liaca</h2>
    <p>
      Somos el taller líder en Culiacán, Sinaloa, con 15 años de experiencia. Ofrecemos servicios automotrices de alta
      calidad con personal capacitado.
    </p>

    <style>
      main {
        max-width: 10000px;
        margin: 50px auto;
        padding: 50px;
        text-align: center;

        border-radius: 100px;
        box-shadow: 0 100px 100px rgba(0, 0, 0, 0.05);
      }

      h1 {
        color: #333;
        margin-bottom: 40px;
      }
    </style>

    <section id="contactos">
      <div class="containers">
        <div class="info-contacto">
          <h2>Contáctanos</h2>
          <p>¡Contáctanos para agendar una cita o resolver tus dudas!</p>
          <a target="_blank" href="https://maps.app.goo.gl/E4eFYLZhcVubAwpx9"
            >Haz click aqui para ver nuestra ubicacion</a
          >.
        </div>
      </div>
    </section>

    <li></li>
  </article>
</BaseLayout>
